<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.w.wenda">

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserLogin" />
        <activity android:name=".his_list" />
        <activity android:name=".MainActivity" />
        <activity android:name=".wd_main" />
        <activity android:name=".type_choose" />
        <activity android:name=".UserRegist" />
        <activity android:name=".UserMain" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.IntelligenceAnswerActivity" />
        <activity android:name=".activitys.PreferenceSettingActivity" />
        <activity android:name=".activitys.WebActivity" />
        <activity android:name=".activitys.CommunityQuestionActivity" />
        <activity android:name=".activitys.CommunityQuestionMineActivity" />
        <activity android:name=".activitys.CommunityQuestionAddActivity" />
        <activity android:name=".activitys.CommunityAnswerAddActivity" />
        <activity android:name=".activitys.CommunityAnswerListActivity" />
        <activity android:name=".activitys.SettingActivity"></activity>
    </application>

</manifest>